:root {
  --green-50: hsl(141deg 75% 90%);
  --green-100: hsl(141deg 75% 85%);
  --green-200: hsl(141deg 75% 70%);
  --green-300: hsl(141deg 75% 60%);
  --green-400: hsl(141deg 75% 50%);
  --green-500: hsl(141deg 75% 45%);
  --green-600: hsl(141deg 75% 35%);
  --green-700: hsl(141deg 75% 25%);
  --green-800: hsl(141deg 75% 15%);
  --green-900: hsl(141deg 75% 10%);
  --green-950: hsl(141deg 75% 5%);
  --green-1000: hsl(141deg 75% 2.5%);
  --green-1000-25: hsl(141deg 75% 2.5% / 25%);
  --transition-duration: 200ms;
  --transition-function: ease;
  --border-radius-s: 5px;
  --border-radius-m: 10px;
  --border-radius-l: 15px;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--green-1000);
  color: var(--green-50);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

#root {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

/* Header */
.header {
  padding: 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-link:hover {
  opacity: 0.9;
}

/* Main */

.main {
  margin: 0 10px 10px;
  padding: 20px;
  border-radius: var(--border-radius-l);
  flex: 1;
  background-image: linear-gradient(to bottom,
      var(--green-900),
      var(--green-1000));
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.main-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-link:hover {
  opacity: 0.8;
}

@media (max-width: 480px) {
  .main {
    padding: 12px 16px;
  }
}

/* ItemList */

.item-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 130%;
}

.item-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(172px, 1fr))
}

@media (max-width: 480px) {
  .item-list {
    gap: 20px;
  }
}

/* SingleItem */
.single-item {
  padding: 25px 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: var(--border-radius-l);
  align-items: center;
  transition: background-color var(--transition-function) var(--transition-duration);
}

.single-item:hover {
  background-color: var(--green-900);
  text-decoration: none;
}

.single-item:hover .single-item-icon {
  opacity: 100%;
  transform: translateY(0);
}

.single-item:hover .single-item-2lines {
  -webkit-line-clamp: 10;
  line-clamp: 10;
}

.single-item-img-button {
  position: relative;
}

.single-item-img {
  width: 140px;
  height: 140px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.single-item-icon {
  position: absolute;
  font-size: 50px;
  right: 7.5px;
  bottom: 7.5px;
  color: var(--green-400);
  opacity: 0;
  transform: translateY(100%);
  transition-timing-function: var(--transition-function);
  transition-duration: var(--transition-duration);
  transition-property: opacity, transform;
}

.single-item-icon--artist {
  position: fixed;
  opacity: 1;
  transform: translateY(0);
  right: 25px;
  bottom: 25px;
}

.single-item-title {
  font-weight: 600;
}

.single-item-type {
  font-size: 13px;
}

.single-item-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.single-item-2lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
}

@media (max-width: 480px) {
  .single-item-icon {
    right: 15px;
    bottom: 15px;
  }

  .single-item {
    padding: 0;
  }

  .single-item-text {
    gap: 0;
  }
}

/* Artist */

.artist {
  border-radius: var(--border-radius-l);
  margin: 0 10px 10px;
  overflow: hidden;
}

.artist-header {
  --_shade: hsl(0deg 0% 0% / 25%);
  display: flex;
  align-items: end;
  padding: 25px;
  height: 40svh;
  background-size: cover;
  background-position-y: 20%;
  background-image: linear-gradient(to bottom, var(--_shade), var(--_shade)),
    url(https://i.scdn.co/image/ab67618600001016909a162796dbc3629a1fadeb);
}

.artist-title {
  font-size: 96px;
}

.artist-body {
  padding: 39px 25px;
  background-image: linear-gradient(to bottom,
      var(--green-900),
      var(--green-950));
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media (max-width: 1280px) {
  .artist-title {
    font-size: 7.5vw;
    line-height: 100%;
  }
}

@media (max-width: 480px) {
  .artist-title {
    font-size: 36px;
  }

  .artist-header {
    padding: 16px;
  }

  .artist-body {
    padding: 25px 16px;
    gap: 16px;
  }
}

/* SongList */

.song-list-see-more {
  font-weight: 700;
  margin-left: 25px;
  margin-top: 20px;
  cursor: pointer;
}

.song-list-see-more:hover {
  text-decoration: underline;
}

/* SongItem */

.song-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  border-radius: var(--border-radius-s);
  transition: background-color var(--transition-function) var(--transition-duration);
  gap: 15px;
}

.song-item:hover {
  background-color: var(--green-800);
  text-decoration: none;
  opacity: 0.8;
}

.song-item-name:hover {
  text-decoration: underline;
}

.song-item-image {
  width: 40px;
  height: 40px;
  border-radius: var(--border-radius-s);
}

.song-item-album {
  display: flex;
  align-items: center;
  gap: 10px;
}

.song-item-number-album {
  display: flex;
  align-items: center;
  gap: 25px;
}

@media (max-width: 480px) {
  .song-item {
    padding: 10px 16px;
  }
}

/* Song */

.song {
  display: grid;
  grid-template-rows: 1fr auto;
  flex: 1;
}

.song-container {
  margin: 0 20px;
  border-top-right-radius: 15px;
  background-image: linear-gradient(to bottom,
      var(--green-800),
      var(--green-950));
  border-top-left-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.song-image-container {
  box-shadow: 0 0 25px 10px var(--green-1000-25);
}

.song-bar {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  place-items: center;
  background-color: black;
  color: white;
  padding: 16px 25px;
  gap: 15px;
}

.song-artist-image {
  justify-self: start;
  border-radius: var(--border-radius-s);
  overflow: hidden;
}

.song-name {
  font-size: 19px;
  font-weight: 700;
}

@media (max-width: 1280px) {
  .song-name {
    font-size: 16px;
  }

  .song-bar {
    grid-template-columns: auto 2fr 3fr;
  }

  .song-info {
    grid-column: 2;
    grid-row: 1;
    justify-self: start;
  }
}

@media (max-width: 800px) {
  .song-bar {
    grid-template-columns: auto 1fr;
  }
}

@media (max-width: 480px) {
  .song-artist-image {
    width: 50px;
    height: 50px;
  }

  .song-info,
  .song-name {
    font-size: 13px;
  }
}